.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item li {
    font-size: 20px;
}

.task-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .btn-secondary {
    margin-left: 20px;
}