<p>
  <a
    class="btn btn-task-group"
    [ngClass]="{
      'btn-outline-success': selectedOption === 'low',
      'btn-outline-primary': selectedOption === 'medium',
      'btn-outline-danger': selectedOption === 'high'
    }"
    data-toggle="collapse"
    href="#task{{ id }}"
    role="button"
    aria-expanded="false"
    aria-controls="id"
    >{{ taskGroup.title }} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 20 20">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg></a
  >
</p>
<div class="row">
  <div class="col-lg-12">
    <div class="collapse multi-collapse" id="task{{ id }}" [ngClass]= " {'red': selectedOption==='high', 'green': selectedOption==='low', 'blue': selectedOption==='medium' }">
      <div class="card card-body">
        <div class="col-lg-12">
          <div class="task-title">
            <div class="actions">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle"
                  [ngClass]="{
                    'btn-success': selectedOption === 'low',
                    'btn-primary': selectedOption === 'medium',
                    'btn-danger': selectedOption === 'high'
                  }"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ selectedOption }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a
                    class="dropdown-item"
                    *ngFor="let option of priorities"
                    (click)="setPriority(option)"
                    >{{ option }}</a
                  >
                </div>
              </div>
              <button
                class="btn btn-secondary"
                type="button"
                data-toggle="tooltip"
                (click)="deleteTaskGroup()"
                data-placement="top"
                title="Delete Task Group"
              >
                Delete Group
              </button>
            </div>
          </div>
          <div class="input-group mt-3">
            <input
              type="text"
              [formControl]="inputTask"
              class="form-control"
              placeholder="Add a Task"
              aria-label="Add tasks with two button addons"
              aria-describedby="button-addon4"
            />
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-primary" type="button" (click)="addTask()">
                Add
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mt-2">
          <div class="mt-2" *ngFor="let task of taskGroup.tasks; index as i">
            <ul class="list-group mt-2">
              <li class="list-group-item">
                <h5>{{ task }}</h5>
                <button
                  class="btn btn-warning"
                  type="button"
                  (click)="deleteTask(i)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
