.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item li {
    font-size: 20px;
}

.task-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

 .btn-success, .btn-primary, .btn-danger {
    width: 120px;
}

.btn-secondary {
    margin-left: 10px;
    width: 130px;
}

.dropdown-item {
    cursor: pointer;
}

.red{
    border-top: 3px solid red;
}

.green{
    border-top: 3px solid green;
}

.blue{
    border-top: 3px solid blue;
}

.btn-task-group {
    width: 300px;
    text-transform: capitalize;
}

h5 {
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(36, 97, 0);
}

h4 {
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(136, 2, 2);
}